*Here below are some of the result of the hamoye quiz done. I deleted many of the lines containing the results due to the short quiz time in a bid to ensure I completed the assessment. All the codes below are workings of mine and were done during the quiz time frame. Unfortunately, I could not get assess to the quiz questions afterwards to properly re-code and present the results properly.*

In [7]:
import pandas as pd #importing pandas library

In [12]:
data = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1') #reading data from csv
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [40]:
df = data[['Element Code', 'Y2014', 'Y2015','Y2016', 'Y2017','Y2018']]
df.corr()

              Element Code     Y2014     Y2015     Y2016     Y2017     Y2018
Element Code      1.000000  0.024457  0.023889  0.023444  0.024254  0.024279
Y2014             0.024457  1.000000  0.994647  0.996081  0.995230  0.994872
Y2015             0.023889  0.994647  1.000000  0.995739  0.988048  0.988208
Y2016             0.023444  0.996081  0.995739  1.000000  0.992785  0.992757
Y2017             0.024254  0.995230  0.988048  0.992785  1.000000  0.998103
Y2018             0.024279  0.994872  0.988208  0.992757  0.998103  1.000000

In [68]:
data['Element'].unique()

array(['Total Population - Both sexes', 'Domestic supply quantity',
       'Food supply (kcal/capita/day)',
       'Protein supply quantity (g/capita/day)',
       'Fat supply quantity (g/capita/day)', 'Production',
       'Import Quantity', 'Stock Variation', 'Export Quantity', 'Feed',
       'Seed', 'Losses', 'Processing', 'Other uses (non-food)',
       'Residuals', 'Food', 'Food supply quantity (kg/capita/yr)',
       'Tourist consumption'], dtype=object)

In [66]:
df = data[data['Area'] == 'Algeria']
df = df[df['Element'] == 'Import Quantity']
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
1308,4,Algeria,2899,Miscellaneous,5142,Food,1000 tonnes,75.00,77.00,78.00,80.00,82.00
1309,4,Algeria,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,1.93,1.93,1.93,1.93,1.93
1310,4,Algeria,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,2.00,2.00,2.00,2.00,2.00
1311,4,Algeria,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.06,0.06,0.06,0.06,0.06
1312,4,Algeria,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.03,0.03,0.03,0.03,0.03

In [ ]:
data[['Y2014, 'Y2018']]

In [84]:
df=data['Element'].value_counts()
df

Domestic supply quantity                  5295
Import Quantity                           5139
Protein supply quantity (g/capita/day)    5023
Fat supply quantity (g/capita/day)        5023
Food supply (kcal/capita/day)             5014
Food                                      4941
Food supply quantity (kg/capita/yr)       4905
Residuals                                 4655
Export Quantity                           4403
Stock Variation                           4232
Production                                3881
Processing                                2010
Losses                                    2009
Other uses (non-food)                     1732
Feed                                      1319
Seed                                       762
Tourist consumption                        555
Total Population - Both sexes               45
Name: Element, dtype: int64

In [88]:
df=data.groupby(by='Element').sum()
df

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00